body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2 {
    color: #333;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 1.25rem;
    color: #333;
}

.card-text {
    color: #666;
}

.card-text.text-success {
    font-weight: bold;
    color: #28a745;
}

.product-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-image {
    width: 100%;
    height: 265px; /* Set a fixed height for the images */
    object-fit: cover; /* Ensure images cover the fixed height while maintaining aspect ratio */
    transition: transform 0.2s;
}

.product-card:hover .product-image {
    transform: scale(1.05);
}

.product-name {
    font-size: 1.25rem;
    color: #333;
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Show ellipsis (...) when text overflows */
    max-height: 1.5rem; /* Set maximum height to 1.5 rem (adjust as needed) */
    margin-bottom: 10px;
}

.product-name a {
    text-decoration: none;
    transition: color 0.2s;
}

.product-name a:hover {
    color: #153e69;
}


.price-box {
    margin-top: 10px;
}

.product-price {
    font-size: 1.5rem;
    font-weight: bold;
}
